<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" (click)="page='welcome'">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        Freight For All
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control input" placeholder="Search">
        </div>
      </form>   -->
      <li><a (click)="page='sign up'">Sign Up</a></li>
      <li><a>Log In</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>

<div>
  <style-editor *ng-if="page == 'style editor'"></style-editor>

  <bl-editor *ng-if="page == 'welcome'"></bl-editor>

  <sign-up *ng-if="page == 'sign up'"></sign-up>

  <div class="footer jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <a>About</a>
        </div>
        <div class="col-md-1">
          <a>Blog</a>
        </div>
        <div class="col-md-1">
          <a>Careers</a>
        </div>
      </div>
    </div>
  </div>
</div>
