<html>
<body>
Date: <input type="text"/>
<br/><br/>
Shipper: <input type="text"/>
<br/><br/>
Consignee: <input type="text"/>
<br/><br/>
Third Party: <input type="text"/>
<br/><br/>
Special Instructions: <input type="text"/>
<br/><br/>
Customer Order Information
<table>
    <tr>
        <td>PO Number</td><td># Pkgs</td><td>Weight</td><td>Notes</td>
    </tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td>Totals:</td><td><input type="text"/></td><td><input type="text"/></td></tr>

</table>
<br/>
Carrier Information
<table>
    <tr><td>Qty</td><td>Type</td><td>Weight</td><td>Description</td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
    <tr><td><input type="text"/></td><td></td><td><input type="text"/></td></tr>


</table>
<br/>
Shipper Signature / Date
<br/>


</body>


</html>